<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-collection.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Comment ça fonctionne</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Ils nous font confiance</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Nos offres</a>
    </li>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if user_signed_in? %>
        <% else %>
          <%= link_to "Demander une démo", "#", class: "btn-green-flash btn-small" %>
        <% end %>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "Dashboard", seasons_path, class: "btn-green-flash btn-small" %>
        <% else %>
          <%= link_to "Connexion", new_user_registration_path, class: "btn-green-flash btn-small" %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
