

<div class="sidenav">
  <div class="picture-avatar">
    <img class="picture-profil-side dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dp07cstgb/image/upload/v1614790038/avatarU1_elu75q.jpg" class="logo-top">
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><%= link_to "Mon compte", "#", class: "suivi-title" %></a>
          <a class="dropdown-item" href="#"><%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "suivi-title" %></a>
        </div>
    <p class="name-sidebar"><%= current_user.first_name %> <%= current_user.last_name %><p>
    <p class="fonction-sidebar">Responsable de collection</p>
  </div>

  <ul class="menu">
    <li class="element-menu d-flex">
      <i class="fas fa-database"></i>
      <%= link_to "Tissutheque", "#" %>
    </li>
    <li>
      <div class="tissu-background">
        <i class="fas fa-bars"></i>
        <%= link_to "Suivi de collection", "#", class: "suivi-title" %>
      </div>
      <ul class="collection-list">
        <% @all_seasons.each do |season| %>
          <li class="element-collection <%= "active" if (params[:controller] == "seasons" && season.id == params[:id].to_i) || (params[:controller] == "clothes" && season.id == params[:season_id].to_i) %>">
            <%= link_to season.name, season_path(season) %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="element-menu">
      <i class="fas fa-tshirt"></i>
      <%= link_to "Suivi de production", "#" %>
    </li>
    <li class="element-menu">
      <i class="fas fa-chart-bar"></i>
      <%= link_to "Analyse", "#" %>
    </li>
    <li class="element-menu">
      <i class="fas fa-cog"></i>
      <%= link_to "Paramètres", "#" %>
    </li>
  </ul>


  <div class="footer-sidebar">
    <div class="logo-footer">
      <img class="logo-sidebar" src="/assets/logo-collection-8a049a3d4e2f8c7ca8acafa79d3b91113bd143a22dcc853a018a60f730021b9e.jpg">
    </div>
  </div>

</div>



