

<div class="sidenav">
  <div class="picture-avatar">
    <img src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_1280.png" class="logo-top">
    <p class="name-sidebar">Pierre Dupont<p>
    <p class="fonction-sidebar">Responsable de collection</p>
  </div>

  <ul class="menu">
    <li class="element-menu">
      <%= link_to "Tissutheque", "#" %>
    </li>
    <li>
      <%= link_to "Suivi de collection", "#" %>
      <ul class="collection-list">
        <% @all_seasons.each do |season| %>
          <li class="element-collection <%= "active" if params[:controller] == "seasons" && season.id == params[:id].to_i %>">
            <%= link_to season.name, season_path(season) %>
          </li>
        <% end %>
      </ul>
    </li>
    <li class="element-menu">
      <%= link_to "Suivi de production", "#" %>
    </li>
    <li class="element-menu">
      <%= link_to "Analyse", "#" %>
    </li>
    <li class="element-menu">
      <%= link_to "Paramètres", "#" %>
    </li>
  </ul>


  <div class="footer-sidebar">
    <div class="logo-footer">
      <img class="logo-sidebar" src="/assets/logo-collection-8a049a3d4e2f8c7ca8acafa79d3b91113bd143a22dcc853a018a60f730021b9e.jpg">
    </div>
    <div class="upadate-plan">
      <p class="info-update">Upgrade your plan</p>
    </div>
  </div>

</div>





