<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    
      <h1>Create a new cloth</h1>
      <%= simple_form_for [ @season, @clothe ] do |f| %>
        <%= f.input :name %>
        <%= f.input :reference %>
        <%= f.input :quantity, as: :integer %>

        <%= f.input :factory_id, as: :integer %>

        <%= f.input :confection_cost, as: :integer %>
        <%= f.input :total_cost, as: :integer %>
        <%= f.input :selling_price, as: :integer %>

        <%= f.submit class: 'btn btn-success' %>
      <% end %>
      <%= link_to "See all clothes", season_clothes_path %>
    </div>
  </div>
</div>
