<div class="container">
  <div class="form-design">
    <h1>Ajouter un vêtement au plan de collection <%= @season.name %></h1>
    <div class="form">
      <%= simple_form_for [ @season, @clothe ] do |f| %>
        <div class="form-step active" id="step-one">
          <h2>Quelle est la famille du produit à ajouter ?</h2>
          <div id="family-fieldset">
            <%= render 'families_input' %>
            <%#= f.input :family, as: :radio_buttons, collection: Family.all %>
          </div>
          <div class="box-next">
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", :data => { :target => "step-two"} %>
          </div>
        </div>

        <div class="form-step" id="step-two">
          <h2>Informations générales</h2>
          <div class="box">
            <%= f.input :name %>
            <%= f.input :reference %>
          </div>
          <div class="box-pattern">
            <div id="pattern-fieldset">
              <%= render 'patterns_input' %>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "Précédent", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-one"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-three"} %>
          </div>
        </div>

        <div class="form-step" id="step-three">    
          <h2>Composition</h2>
          <h4>Main fabrics</h4>
          <%= f.simple_fields_for :technical_details do |form| %>
            <div class="form-components">
              <div class="form-component">
                <%= form.input :component, collection: @main_fabric, label: "Main fabric" %>
              </div>
              <div class="form-component">
                <%= form.input :quantity, input_html: { min: '0' } %>
              </div>
            </div>
          <% end %>
          <div class="box-previous-next">
            <%= link_to "Précédent", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-two"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-four"} %>
          </div> 
        </div>


        <div class="form-step" id="step-four">
          <h4>Secondary fabrics</h4>
          <div id="secondary-forms">
            <div id="form-add-secondary-fabric">
              <%= f.simple_fields_for :technical_details do |form| %>
                <div class="form-components">
                  <div class="form-component">
                    <%= form.input :component, collection: @secondary_fabric, label: "Secondary fabric" %>
                  </div>
                  <div class="form-component">
                    <%= form.input :quantity, input_html: { min: '0' } %>
                  </div>
                </div>
              <% end %>
            </div>
            <template id="secondary-form-template">
              <div id="form-add-secondary-fabric">
                <%= f.simple_fields_for :technical_details do |form| %>
                  <div class="form-components">
                    <div class="form-component">
                      <%= form.input :component, collection: @secondary_fabric, label: "Secondary fabric" %>
                    </div>
                    <div class="form-component">
                      <%= form.input :quantity, input_html: { min: '0' } %>
                    </div>
                  </div>
                <% end %>
              </div>
            </template>
          </div>

          <div class="add-component">
            <div class="btn-add-component" id="add-component" data-target="#secondary-form-template">
              <p>Ajouter un tissu secondaire supplémentaire</p>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "Précédent", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-three"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-five"} %>
          </div>
        </div>

        <div class="form-step" id="step-five">
          <h4>Trims</h4>
          <div id="trim-forms">
            <div id="form-add-trim">
              <%= f.simple_fields_for :technical_details do |form| %>
                <div class="form-components">
                  <div class="form-component">
                    <%= form.input :component, collection: @trim, label: "Trim" %>
                  </div>
                  <div class="form-component">
                    <%= form.input :quantity, input_html: { min: '0' } %>
                  </div>
                </div>
              <% end %>
            </div>
            <template id="trim-form-template">
              <div id="form-add-trim">
                <%= f.simple_fields_for :technical_details do |form| %>
                  <div class="form-components">
                    <div class="form-component">
                      <%= form.input :component, collection: @trim, label: "Trim" %>
                    </div>
                    <div class="form-component">
                      <%= form.input :quantity, input_html: { min: '0' } %>
                    </div>
                  </div>
                <% end %>
              </div>
            </template>
          </div>

          <div class="add-component">
            <div class="btn-add-component" id="add-component" data-target="#trim-form-template">
              <p>Ajouter un trim supplémentaire</p>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "Précédent", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-four"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-six"} %>
          </div>
        </div>

        <div class="form-step" id="step-six">
          <h4>Brand Trims</h4>
          <div id="trim-forms">
            <div id="form-add-brand-trim">
              <%= f.simple_fields_for :technical_details do |form| %>
                <div class="form-components">
                  <div class="form-component">
                    <%= form.input :component, collection: @brand_trim, label: "Brand trim" %>
                  </div>
                  <div class="form-component">
                    <%= form.input :quantity, input_html: { min: '0' } %>
                  </div>
                </div>
              <% end %>
            </div>
            <template id="brand-trim-form-template">
              <div id="form-add-brand-trim">
                <%= f.simple_fields_for :technical_details do |form| %>
                  <div class="form-components">
                    <div class="form-component">
                      <%= form.input :component, collection: @brand_trim, label: "Brand trim" %>
                    </div>
                    <div class="form-component">
                      <%= form.input :quantity, input_html: { min: '0' } %>
                    </div>
                  </div>
                <% end %>
              </div>
            </template>
          </div>

          <div class="add-component">
            <div class="btn-add-component" id="add-component" data-target="#brand-trim-form-template">
              <p>Ajouter un brand trim supplémentaire</p>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "Précédent", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-five"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-seven"} %>
          </div>
        </div>

        <div class="form-step" id="step-seven">
          <h2>Information de production</h2>
          <%= f.input :quantity, as: :integer, input_html: { min: '0' } %>
          <div id="factory-fieldset">
            <%= render 'factories_input' %>
          </div>
          <%= f.input :confection_cost, as: :integer, input_html: { min: '0' } %>
          <%= f.input :selling_price, as: :integer, input_html: { min: '0' } %>
          <div class="box-previous-next">
            <%= link_to "Précédent", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-six"} %>
          </div>
          <%= f.submit "Ajouter un produit", class: 'btn btn-green-flash btn-small' %>
        </div>
      <% end %> 
    </div>
  </div>
</div>
