
<div class="container">
  <div class="form-design">
    <div class="stepper-header">

        <!-- Steppers Wrapper -->
        <ul class="stepper stepper-horizontal">

          <!-- First Step -->
          <li class="active-tab" id="step-one-tab" >
            <a href="#!">
              <div class="step-active-done">
                <div>    <span class="circle-done">1</span>  </div>
                <div>   <span class="label-tab">Famille</span>  </div> 
              </div>
            </a>
          </li>

          <!-- Second Step -->
          <li class="current-tab" id="step-two-tab">
            <a href="#!">
            <div class="step-active-current">
              <div> <span class="circle-next">2</span></div>
              <div> <span class="label-tab">Modèle</span></div>
            </div>
            </a>
          </li>

          <!-- Third Step -->
          <li class="current-tab" id="step-three-tab">
            <a href="#!">
            <div class="step-active-current">
              <div> <span class="circle-next">3</i></span> </div>
              <div><span class="label-tab">Tissus</span></div>
            </div>
            </a>
          </li>

          <!-- Fourth Step -->
          <li class="current-tab" id="step-four-tab">
            <a href="#!">
            <div class="step-active-current">
              <div><span class="circle-next">4</i></span></div>
              <div><span class="label-tab">Composants</span></div>
            </div>
            </a>
          </li>

          <!-- Fifth Step -->
          <li class="current-tab" id="step-five-tab">
            <a href="#!">
            <div class="step-active-current">
              <div><span class="circle-next">5</i></span></div>
              <div><span class="label-tab">Branding</span></div>
            </div>
            </a>
          </li>

          <!-- Sixth Step -->
          <li class="current-tab" id="step-six-tab">
            <a href="#!">
            <div class="step-active-current">
              <div><span class="circle-next">6</i></span></div>
              <div><span class="label-tab">Production</span></div>
            </div>
            </a>
          </li>


        </ul>
        <!-- /.Steppers Wrapper -->

      </div>

<!-- /.Horizontal Steppers -->


<!--  CONTENU DES STEPS -->


    <div class="form">
      <%= simple_form_for [ @season, @clothe ] do |f| %>
        <div class="form-step active" id="step-one">
          <h2>Famille du produit</h2>
          <div id="family-fieldset">
            <%= render 'families_input' %>
            <%#= f.input :family, as: :radio_buttons, collection: Family.all %>
          </div>
          <div class="box-next">
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", :data => { :target => "step-two"} %>
          </div>
        </div>

        <div class="form-step" id="step-two">
          <h2>Informations générales</h2>
          <div class="box">
            <%= f.input :name, label: "Nom du produit" %>
            <%= f.input :reference, label: "Référence du produit" %>
          </div>
          <div class="box-pattern">
            <div id="pattern-fieldset">
              <%= render 'patterns_input' %>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "< Précédent", "#", class: "go-to-step btn-small btn-light", data: {target: "step-one"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-three"} %>
          </div>
        </div>

        <div class="form-step" id="step-three">    
          <h2>Composition du produit (1/3) | <strong>Tissus</strong></h2>
          <h6>Ajouter le tissu principal</h6>
          <%= f.simple_fields_for :technical_details do |form| %>
            <div class="form-components">
              <div class="form-component">
                <%= form.input :component, collection: @main_fabric, label: "Tissu principal" %>
              </div>
              <div class="form-component">
                <%= form.input :quantity, input_html: { min: '0' }, label: "Qté par produit (en mètre)" %>
              </div>
            </div>
          <% end %>
          <h6>Ajouter les tissus secondaires | <em>doublure, fond de poche, isolant...</em></h6>
          <div id="secondary-forms">
            <div id="form-add-secondary-fabric">
              <%= f.simple_fields_for :technical_details do |form| %>
                <div class="form-components">
                  <div class="form-component">
                    <%= form.input :component, collection: @secondary_fabric, label: "Tissu secondaire" %>
                  </div>
                  <div class="form-component">
                    <%= form.input :quantity, input_html: { min: '0' }, label: "Qté par produit (en mètre)" %>
                  </div>
                </div>
              <% end %>
            </div>
            <template id="secondary-form-template">
              <div id="form-add-secondary-fabric">
                <%= f.simple_fields_for :technical_details do |form| %>
                  <div class="form-components">
                    <div class="form-component">
                      <%= form.input :component, collection: @secondary_fabric, label: "Tissu secondaire" %>
                    </div>
                    <div class="form-component">
                      <%= form.input :quantity, input_html: { min: '0' }, label: "Qté par produit (en mètre)" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </template>
          </div>
          <div class="add-component">
            <div class="btn-add-component" id="add-component" data-target="#secondary-form-template">
              <p>Ajouter un tissu secondaire supplémentaire</p>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "< Précédent", "#", class: "go-to-step btn-small btn-light", data: {target: "step-two"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-four"} %>
          </div>
        </div>

        <div class="form-step" id="step-four">
          <h2>Composition du produit (2/3) | <strong>Composants</strong></h2>
          <h6>Ajouter les composants | <em>boutons, zips, cordons...</em></h6>
          <div id="trim-forms">
            <div id="form-add-trim">
              <%= f.simple_fields_for :technical_details do |form| %>
                <div class="form-components">
                  <div class="form-component">
                    <%= form.input :component, collection: @trim, label: "Composant" %>
                  </div>
                  <div class="form-component">
                    <%= form.input :quantity, input_html: { min: '0' }, label: "Qté par produit" %>
                  </div>
                </div>
              <% end %>
            </div>
            <template id="trim-form-template">
              <div id="form-add-trim">
                <%= f.simple_fields_for :technical_details do |form| %>
                  <div class="form-components">
                    <div class="form-component">
                      <%= form.input :component, collection: @trim, label: "Composant" %>
                    </div>
                    <div class="form-component">
                      <%= form.input :quantity, input_html: { min: '0' }, label: "Qté par produit" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </template>
          </div>

          <div class="add-component">
            <div class="btn-add-component" id="add-component" data-target="#trim-form-template">
              <p>Ajouter un composant supplémentaire</p>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "< Précédent", "#", class: "go-to-step btn-small btn-light", data: {target: "step-three"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-five"} %>
          </div>
        </div>

        <div class="form-step" id="step-five">
          <h2>Composition du produit (3/3) | <strong>Composants de marque</strong></h2>
          <h6>Ajouter les composants de marques | <em>étiquettes...</em></h6>
          <div id="trim-forms">
            <div id="form-add-brand-trim">
              <%= f.simple_fields_for :technical_details do |form| %>
                <div class="form-components">
                  <div class="form-component">
                    <%= form.input :component, collection: @brand_trim, label: "Composant de marque" %>
                  </div>
                  <div class="form-component">
                    <%= form.input :quantity, input_html: { min: '0' }, label: "Qté par produit" %>
                  </div>
                </div>
              <% end %>
            </div>
            <template id="brand-trim-form-template">
              <div id="form-add-brand-trim">
                <%= f.simple_fields_for :technical_details do |form| %>
                  <div class="form-components">
                    <div class="form-component">
                      <%= form.input :component, collection: @brand_trim, label: "Composant de marque" %>
                    </div>
                    <div class="form-component">
                      <%= form.input :quantity, input_html: { min: '0' }, label: "Qté par produit" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </template>
          </div>

          <div class="add-component">
            <div class="btn-add-component" id="add-component" data-target="#brand-trim-form-template">
              <p>Ajouter un composant de marque supplémentaire</p>
              <i class="fas fa-plus-circle"></i>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "< Précédent", "#", class: "go-to-step btn-small btn-light", data: {target: "step-four"} %>
            <%= link_to "Suivant", "#", class: "go-to-step btn-green-flash btn-small", data: {target: "step-six"} %>
          </div>
        </div>

        <div class="form-step" id="step-six">
          <h2>Informations de production</h2>
          <div class="form-production-steps">
            <div class="quantities-choice-step">
              <%= f.input :quantity, as: :integer, input_html: { min: '0' }, label: "Qtés à produire" %>
              <%= f.input :confection_cost, as: :integer, input_html: { min: '0' }, label: "Prix de confection HT €" %>
              <%= f.input :selling_price, as: :integer, input_html: { min: '0' }, label: "Prix de vente unitaire TTC €" %>
            </div>
            <div class="factory-choice-step">
              <h6>Sélectionner l'usine de production</h6>
              <div id="factory-fieldset">
                <%= render 'factories_input' %>
              </div>
            </div>
          </div>
          <div class="box-previous-next">
            <%= link_to "< Précédent", "#", class: "go-to-step btn-small btn-light", data: {target: "step-five"} %>
            <%= f.submit "Valider", class: 'btn-green-flash btn-small' %>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
</div>
