<div class="container">
  <div id="btn-back">
    <%= link_to "Retour à la collection", season_path(@season), class: 'btn btn-light'%>
  </div>
  <div class="show-clothe">
    <div class="info-left">
      <div class="main-cloth-infos">
        <%#= image_tag "http://tothefit.com//img/cms/Dessins%20Claire%20ALVERNHE/DESSIN%20HOMME/CASUAL/DESSIN-MCA104-CHINO%20SLIN%20PANT-DEVANT.jpg", class: "img-clothe" %>
        <%= cl_image_tag(@clothe.family.photo.key) %>
        <div class="main-cloth-main-infos">
          <h3><strong class="title-name"><%=  @clothe.name %></strong></h3>
          <p>Saison Autumn Winter 2021
           Ref. LVHUSH</p>
          <p>Produit par : <%= @clothe.factory.name %></p>
          <span class="cloth-color"><%= @clothe.main_fabric.color %></span>
        </div>
      </div>
      <div class="clothe-details-grid">
          <p>Tissu principale</p>
          <p>Tissu secondaire</p>
          <p>Trims</p>
          
          <p>jeans</p>
          <p>denim</p>
          <p>métal</p>
       </div>
        <div class="button-show">
          <a class="btn btn-flat">Modifier</a>
        </div>
    </div>
    <div class="show-right">
      <div class="info-clothe">
        <div class="widget">
          <span class="total-widget"><strong>Coût total unitaire</strong>  <span>
          <h3><strong> <%= @clothe.total_cost %> €</strong></h3>
          <span class="total-widget"> <strong><%= number_with_delimiter(@clothe.total_production_cost, delimiter: " ") %> €</strong>  de coût total de production unitaire</span >
        </div>
        <div class="widget">
          <span class="total-widget"><strong>Quantité</strong>  </span>
          <h3><strong> <%= @clothe.quantity %> </strong></h3>
          <span class="total-widget">produites par AAC Textile</span >
        </div>
        <div class="widget">

          <span class="total-widget"><strong>Prix de vente</strong>  </span>
          <h3><strong><%= @clothe.selling_price %> €</strong></h3>
          <span class="total-widget"> <strong><%= number_with_delimiter(@clothe.turnover, delimiter: " ") %> €</strong>  de chiffre d’affaires estimé pour ce vêtement</span>

        </div>
        <div class="widget">
          <span class="total-widget"> <strong>Taux de marge</strong>  </span >
          <h3><strong><%= @clothe.margin_rate %> %</strong></h3>
          </div>
        </div>
      </div>
    </div>
</div>
<%= console %>