<div class="container">
  <div id="btn-back">
    <%= link_to "Retour à la collection", season_path(@season), class: 'btn btn-light'%>
  </div>
  <div class="d-flex">
    <div class="info-clothe">
      <h3><strong><%=  @clothe.name %></strong></h3>
      <h3>Reference: <strong><%=  @clothe.reference %></strong></h3>
      <h3>Saison: <strong><%=@clothe.season.name %></strong></h3>
      <h3>Usine: <strong><%=@clothe.factory.name %></strong></h3>
      <h3>Coût total unitaire: <strong><%=@clothe.total_cost %></strong></h3>
      <h3>Quantité à produire: <strong><%=@clothe.quantity %></strong></h3>
      <h3>Prix de vente unitaire (TTC): <strong><%=@clothe.selling_price %> €</strong></h3>
    </div>
    <img class="img-clothe" src="http://tothefit.com//img/cms/Dessins%20Claire%20ALVERNHE/DESSIN%20HOMME/CASUAL/DESSIN-MCA104-CHINO%20SLIN%20PANT-DEVANT.jpg" />
  </div>
</div>
