<div class="container">
  <div class="form-design">
    <h2>Ajouter un nouveau Modèle</h2>
    <%= simple_form_for(@pattern) do |f| %>
      <%= f.input :name, label: "Nom du modèle" %>
      <%= f.input :description, label: "Description du modèle" %>
      <%= f.input :family_id, as: :radio_buttons,
                              collection_wrapper_tag: 'div',
                              collection_wrapper_class: 'category-wrapper',
                              item_wrapper_class: 'category-item',
                              input_html: {class: 'category-selector'},
                              collection: @families %>
      <%= f.submit "Créer le modèle", class: " btn btn-green-flash" %>
    <% end %>
  </div>
</div>