<!DOCTYPE html>
<html>
  <head>
    <title>Collection - Gestion de collection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <%= render 'shared/ios_pwa_links' %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="main-container">
      <%= render "shared/sidebar" unless params[:action] == "home" || params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" %>
      <div class="main-content">
        <%= render "shared/homepage_navbar" if params[:action] == "home" %>
        <%= render "shared/navbar" if params[:action] == "show" && params[:controller] == "seasons" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<%#= render "shared/sidebar" unless params[:action] == "home" %>




